body {
  background-color: var(--background);
  color: var(--foreground);
  padding: 0;
}

a:link,
a:visited {
  /*color: #38488f;*/
  color: unset;
  text-decoration: underline;
}
ol,
ul {
  background: oklch(70.4% 0.191 22.216 / 0.1);
  border-radius: inherit;
  padding-block: 0.5rem;
}

table {
  width: fit-content;
  border-collapse: collapse;
  border: solid thick;

  colgroup,
  tbody {
    border: solid medium;
  }
  td,
  th {
    border: solid thin;
    /*height: 1.4em;*/
    max-width: 15rem;
    /*width: -webkit-fill-available;*/
    text-align: center;
    padding: 0;
  }
}

#orders {
  thead th {
    padding: 7px;
  }
  th,
  td {
    padding: 3px;
  }
}

::selection {
  background-color: var(--selection);
  color: var(--selection-foreground);
}

:root {
  --background: oklch(14.5% 0 0);
  --foreground: oklch(98.5% 0 0);

  --border: oklch(100% 0 0/0.1);

  --selection: oklch(92.2% 0 0);
  --selection-foreground: oklch(20.5% 0 0);
}

.popover-trigger {
  color: var(--foreground);
  background: var(--background);
  width: 100%;
  height: 100%;
  font-size: unset;
  border: solid 3px transparent;
  &:hover {
    text-shadow: #777777 0 0 10px;
    border-image: conic-gradient(
        from 0deg,
        #ff75c3 0%,
        #ffa647 20%,
        #ffe83f 40%,
        #9fff5b 60%,
        #70e2ff 80%,
        #ff75c3 100%
      )
      1;
  }
}
.product-description {
  background-color: darkblue;
  color: white;
  ::selection {
    color: black;
    background-color: lightseagreen;
  }
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
}
.popover-closing {
  color: red;
  position: absolute;
  top: 5px;
  right: 5px;
  background: unset;
  border: unset;
}
